amqp==5.3.1
asgiref==3.8.1
billiard==4.2.1
black==25.1.0
celery==5.5.2
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
Django==4.2.20
django-allauth==65.7.0
django-cors-headers==4.7.0
django-environ==0.12.0
django-extensions==4.1
django-storages==1.14.6
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
drf-yasg==1.21.10
gunicorn==23.0.0
inflection==0.5.1
isort==6.0.1
kombu==5.5.3
mypy_extensions==1.1.0
ntplib==0.4.0
packaging==25.0
pathspec==0.12.1
pillow==11.2.1
platformdirs==4.3.7
prompt_toolkit==3.0.51
psycopg2-binary==2.9.10
PyJWT==2.9.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
PyYAML==6.0.2
redis==6.0.0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
uritemplate==4.1.1
vine==5.1.0
wcwidth==0.2.13
whitenoise==6.9.0
