.mybtn {
  position: fixed;
  height: 50px;
  width: 50px;
  bottom: 60px;
  right: 65px;
  background-color: #258bea;
  border-color: #258bea;
  color: #fff;
  border-radius: 45px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 25px;
  z-index: 9;
}

.mybtn:hover,
.mybtn:focus,
.mybtn:active {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.mybtn:active {
  background-color: #0056b3;
  border-color: #0056b3;
}

.bg-image {
    background-image: url('https://images.unsplash.com/photo-1603204254626-d0de8eb24cf1?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Specify the path to your image */
    background-size: cover; 
    background-repeat: no-repeat;
}

.my-actions {
  margin: 2em 2em 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.right-gap {
  margin-right: auto;
}
