{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1 class="text-center mb-5">About Us</h1>
    
    <div class="row">
        <div class="col-md-6">
            <div class="team-member">
                <img src="/static/images/vaibhav.jpg" alt="Team Member 2" class="img-fluid">
                <h3>Vaibhav Dhanani</h3>
                <p>ID :- 22CEUEG136</p>
                <p>Computer Engineering Student at DDIT</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="team-member">
                <img src="/static/images/nisarg.jpeg" alt="Team Member 1" class="img-fluid">
                <h3>Nisarg Amlani</h3>
                <p>ID :- 22CEUEG082</p>
                <p>Computer Engineering Student at DDIT</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

