{% extends "base.html" %} {% block content %} {% load custom_filter %}

<div class="content">
  <button
    type="button"
    class="mybtn"
    data-bs-toggle="modal"
    data-bs-target="#staticBackdrop"
  >
    +
  </button>

  <div id="main-content">
    <div class="container mt-4">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
        {% for asmt in assignments %} 
        {% if asmt.class_name.subject == course_name %}
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title my-2">{{asmt.class_name.subject}}</h5>
              <h6 class="card-subtitle mb-2 my-2 text-muted">{{asmt.title}}</h6>
              <p class="card-text">Due: <b>{{ asmt.date }}</b></p>
              {% if current_date|is_late_submission:asmt.date %}
              <p class="text-danger"><b>Your submission will be late</b></p>
              {% endif %}
              <form method="post" action="{% url 'Assignments' course_name %}">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="formFile" class="form-label">Choose file:</label>
                  <input
                    class="form-control"
                    type="file"
                    id="formFile"
                    name="file"
                  />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>
    <div
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">
              Enter the Assignment details
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <form
            id="classForm"
            method="post"
            action="{% url 'create_new_assignment' %}"
          >
            <div class="modal-body">
              {% csrf_token %}
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm"
                  ><b>Title: </b></span
                >
                <input
                  type="text"
                  name="assignment_title"
                  id="assignment_title"
                  class="form-control"
                  aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-sm"
                  requried
                />
              </div>
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm"
                  ><b>Submission Date: </b></span
                >
                <input
                  type="date"
                  name="sub_date"
                  id="sub_date"
                  class="form-control"
                  aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-sm"
                  requried
                />
              </div>
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm"
                  ><b>Class : </b></span
                >
                <select
                  name="class_name"
                  id="class_name"
                  class="form-select"
                  aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-sm"
                  requried
                >
                  <option value="{{ course_name }}">{{ course_name }}</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <input type="submit" class="btn btn-primary" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
