{% extends "base.html" %} {% block content %}
{% if request.user_role == "Teacher" %}
<button
  type="button"
  class="mybtn"
  data-bs-toggle="modal"
  data-bs-target="#staticBackdrop"
>
  +
</button>
{% endif %}
<h1
  style="
    text-align: center;
    font-family: math;
    text-align: center;
    font-size: 2.5rem;
    color: #a31c00;
    margin-bottom: 20px;
  ">
  {{course_name}} 
</h1>

<div id="main-content">
  <!-- Modal -->
  <div
    class="modal fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            Enter the Lecture details
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <form
          id="classForm"
          method="post"
          action="{% url 'create_new_lecture' %}"
        >
          <div class="modal-body">
            {% csrf_token %}
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text" id="inputGroup-sizing-sm"
                ><b>Title: </b></span
              >
              <input
                type="text"
                name="lecture_title"
                id="lecture_title"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
                required
              />
            </div>
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text" id="inputGroup-sizing-sm"
                ><b>Class Name: </b></span
              >
              <select
                name="class_name"
                id="class_name"
                class="form-select"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
                required
              >
                <option value="{{ course_name }}">{{ course_name }}</option>
              </select>
            </div>
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text" id="inputGroup-sizing-sm"
                ><b>Lecture Link: </b></span
              >
              <input
                type="url"
                name="lecture_link"
                id="lecture_link"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
                required
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <input type="submit" class="btn btn-primary" />
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
    {% for lec in lectures %}
        {% if lec.class_name.subject == course_name %}
        <div class="col mb-4">
            <div class="card h-100" style="border: 2px #1a182a solid;">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="card-img-top embed-responsive-item" src="{{ lec.link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{lec.title}}</h5>
                    {% if request.user_role == "Teacher" %}
                        <a href="{% url 'delete_lecture' lec.lec_id %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>


</div>

{% endblock content %}
