{% extends "base.html" %} {% block content %}
{% if request.user_role == "Teacher" %}
<button
  type="button"
  class="mybtn"
  data-bs-toggle="modal"
  data-bs-target="#staticBackdrop"
>
  +
</button>
{% endif %}

<style>
  .hidden {
    display: none;
    opacity: 0;
  }
  .custom-link {
    transition: background-color 0.3s ease;
  }
  .custom-link:hover {
    background-color: #f0f0f0;
    color: #007bff;
  }
  .notes{
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  .card {
      margin: 10px; 
      width: 300px; 
      border: 1px solid #ddd; 
      border-radius: 4px;
  }
</style>
    <div class="modal fade"  id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel" >Upload Material</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'new_material_upload'%}"  method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Upload Material</label>
                            <input class="form-control" type="file" id="formFile" name="file" required>
                            <input type="hidden" name="url" id="url">
                            <input type="hidden" name="file_name" id="file_name" >
                        </div>
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" id="title" name="title" placeholder="Material name" required>
                        </div>
                        <div class="modal-footer">
                          <div class="upload-container d-flex align-items-center">
                            <div class="spinner-border text-dark"  style="margin-left: 20px" role="status" id="spinner">
                              <span class="visually-hidden">Loading...</span>
                            </div>
                          </div>
                          <button type="button" id="upload" class="btn btn-success">Upload</button>
                          <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <h1
      style="
        font-family: math;
        text-align: center;
        font-size: 2.5rem;
        color: #a31c00;
        margin-bottom: 20px;
        ">
      {{class_code.subject}}
    </h1>
    <div class="notes">
    
      <div class="row">
        {% for material in materials %}
            {% if material.class_id.code == class_code.code %}
                <div class="col-sm-5 col-md-4 col-lg-3 my-2 mx-5">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column justify-content-between">
                            <h5 class="card-title">{{ material.title }}</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="{{ material.link }}" target="_blank" class="btn btn-primary">View</a>
                                {% if request.user_role == "Teacher" %}
                                <a class="btn btn-danger" id="delete-material">
                                    <input type="hidden" value="{{ material.material_id }}" id="mat_id">
                                    <input type="hidden" value="{{ material.name }}" id="file_name">
                                    Delete</a>
                                {% else %}
                                <a href="{{ material.link }}" target="_blank" download class="btn btn-success">Download</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    

    </div>
    </div>

<script type="module">
  import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.2/firebase-app.js";
  import {
    getStorage,
    ref,
    uploadBytesResumable,
    getDownloadURL,
    uploadBytes,
      deleteObject
  } from "https://www.gstatic.com/firebasejs/10.7.2/firebase-storage.js";
  const firebaseConfig = {
    apiKey: "AIzaSyDoKKxEn-IChCtdV8BuoohMf7TMZyZXZxk",
    authDomain: "educonnect-6789e.firebaseapp.com",
    projectId: "educonnect-6789e",
    storageBucket: "educonnect-6789e.appspot.com",
    messagingSenderId: "422805237793",
    appId: "1:422805237793:web:7fcf5afa6d241f935b3360",
    measurementId: "G-XHXM785F62",
  };
  let app = initializeApp(firebaseConfig);
  let storage = getStorage(app);
  document.addEventListener("DOMContentLoaded", (event) => {
    let uploadButton = document.getElementById("upload");
    let uploadSpinner = document.getElementById("spinner");
    uploadSpinner.classList.add("hidden");

    let upl = () => {
      uploadButton.style.opacity = ".5";
      uploadSpinner.classList.remove("hidden");
      let file = document.getElementById("formFile").files[0];
      let title = document.getElementById("title").value;
      let storageRef = ref(storage, `Materials/${file.name}`);
      let file_name = document.getElementById("file_name");
        file_name.value = file.name;
      uploadBytes(storageRef, file)
        .then((snapshot) => {})
        .then(() => {
          getDownloadURL(storageRef).then((url) => {
            document.getElementById("url").value = url;
            uploadSpinner.classList.add("hidden");
            uploadButton.style.opacity = "1";
          });
        });
    };
    uploadButton.addEventListener("click", upl);
      const deleteButtons = document.querySelectorAll("#delete-material");


      deleteButtons.forEach(button => {
            button.addEventListener("click", async function (event) {
                // Access data attributes using `dataset` property
                const materialId = button.querySelector("#mat_id").value;
                const fileName = button.querySelector("#file_name").value;
                let Ref = ref(storage, `Materials/${fileName}`);
                await deleteObject(Ref).then(() => {
                    console.log("File deleted successfully");
                }).catch((error) => {

                });

                window.location.href = `/delete_material/${materialId}`;

            });
        });

  });
</script>

{% endblock content %}
