{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row">
    {% for material in materials %}
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> {{material.name}} </h5>
          <p class="card-text">
            {{material.title}}
          </p>
          <a href={{material.link}} download class="btn btn-primary" target="_blank">Download</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
